.dhf-hero {
  background-color: #000;
  margin-top: 4.5rem;
  .photogs-block {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in;
    cursor: pointer;
    .pb-bkg {
      background-position: center bottom;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.4;
      transition: all 0.5s ease-in;
    }
    h2 {
      font-size: 5rem;
      transition: all 0.2s ease-in;
      z-index: 10;
    }
    &:hover {
      .pb-bkg {
        opacity: 0.7;
        // width: 125%;
      }
      h2 {
        font-size: 3.5rem;
        opacity: 0.2;
      }
    }
  }
}
.pb-ed {
  .pb-bkg {
    background-image: url("/images/hero/ed.jpeg");
  }
}
.pb-jorge {
  .pb-bkg {
    background-image: url("/images/hero/jorge.jpg");
  }
}
.pb-kie {
  .pb-bkg {
    background-image: url("/images/hero/kei.jpeg");
  }
}

@media (max-width: 500px) {
  .dhf-hero {
    background-color: #fff;
    .photogs-block {
      background-color: #000;
      min-width: 100%;
      min-height: 200px;
      margin-bottom: 20px;
    }
  }
}
