@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+HK&display=swap");

$bebas: "Bebas Neue", cursive;
$noto: "Noto Sans HK", sans-serif;
htm {
  font-size: 62.5%;
}
body {
  font-family: $noto;
  font-size: 1.4rem;
  color: #231f20;
}
h1,
h2,
h3,
h4,
a,
.navigation,
.gal-header .bebas {
  font-family: $bebas;
}
a {
  color: #231f20;
}
.container-fluid {
  max-width: 1440px;
}

hr {
  border-top: 3px solid #000;
  width: 20%;
}

.row {
  margin-bottom: 4.5rem;
}
.bottom-gfm {
  .gofund-bttn-wrap {
    justify-content: center;
  }
}
.footer {
  font-size: 1.2rem;
  margin-bottom: 0px;
  opacity: 0.5;
  .iamsmarts {
    text-align: right;
    a {
      color: #231f20;
    }
  }
}
.light-box {
  &.active {
    background: rgba($color: #000000, $alpha: 0.9);
    display: flex;
  }
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: row;
  flex-flow: wrap;
  background: rgba($color: #000000, $alpha: 0);
  transition: all 0.4s ease-in;
  display: none;
  .exit {
    width: 100%;
    justify-self: flex-end;
    align-self: center;
    text-align: right;
  }
  .close-btn {
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
  }
  .active-img {
    width: 90%;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.ig-wrap {
  margin-bottom: 10px;
  .ig-home {
    text-align: center;
    img {
      height: 30px;
      width: 30px;
    }
  }
}
@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: row;
    .col {
      width: 100%;
      flex-basis: unset;
      text-align: center;
    }
  }
}
